.accordion.accordion-3 {
    border-radius: 3px; 
}
.accordion.accordion-3 p {
    font-size: 1rem; 
}
.accordion.accordion-3 .fa.fa-angle-down {
    margin-top: -10px; 
}
.accordion .animated-icon1 span {
    background: #F44336;
}

.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #e0a8af;
    background-color:#e0a8af;
}
